* {
	box-sizing: border-box;
	font-family: 'Noto Sans', sans-serif;
}

a {
	text-decoration: none;
	color: #f5b616;
	font-weight: bold;
}

body{
	padding: 0;
	margin: 0;
}

header {
	background-color: white;
	width: 100%;
	height: 120px;
}

footer {
	background-color: #002a32;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.footer, .usuario-class, .logo-class, .login-class, .col-10, .divisao-header-class, .divisao-footer-class, .botao, .botao1{
	float: left;
}

.footer, .divisao-header-class, .divisao-footer-class, .col-10, .botao {
	clear: left;
}

.col-10 {
	background-color: lightblue;
	width: 100%;
	color: black;
	clear: left;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
}

.col-10 ::placeholder{
	font-style: italic;
	font-size: 15px;
}	

.usuario-class{
	display: flex;
	justify-content: center;
	width: 10%;
}

.usuario-class img{
	height: 120px;
}

.logo-class{
	padding-left: 15%;;
	display: flex;
	justify-content: center;
	width: 65%;
}

.sair-class {
	padding-right: 0;
}

.logo-class img{
	height: 110px;
}

.login-class{
	width: 25%;
}

.login-class p{
	padding-top: 7px;
}

.login-class img{
	padding-top: 15px;
	padding-right: 15px;
	float: right;
	height: 105px;
}

.divisao-header-class, .divisao-footer-class{
	width: 100%;
	height: 2px;
}

.divisao-footer-class {
	background-color: black;
}

.divisao-header-class {
	background-color: rgb(68, 15, 15);
}

#logado {
	color: green;
}

#saldo {
	color: blue;
}

#logar {
	color: red;
}

.form-item {
	text-align: center;
}

.form-item input {
	text-align: center;
}

.msg-erro {
	font-family: 'Scada', sans-serif;
	color: red;
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 20px;
}

.label-alinhado {
	display: block;
	text-align: center;
}

input, option, select {
	text-align: center;
	text-align-last: center;
	border: 2px solid #002a32;
	padding: 3px;
	color: black;
	height: 35px;
	width: 320px;
	font-family: 'Scada', sans-serif;
}

input[type="submit"], input[type="reset"] {
	background-color: #002a32;
	text-align: center;
	color: white;
	padding: 3px 20px;
	border: 3px solid white;
	height: 35px;
	width: 150px;
	font-family: 'Noto Sans', sans-serif;
}

input[type="submit"]:hover, input[type="reset"]:hover, #buscar:hover {
	box-shadow: 2px 2px 2px #000;
}

.botao, .botao1 {
	width: 50%;
	display: flex;
}

.botao1 {
	padding-left: 10px;
}

.menu_adm {
    background-color: #EEEEEE; 
    border-radius: 4px;  
    border: 4px solid #222222;
    padding: 15px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
}

.item {
    border-bottom: 4px solid #222222;
    margin-right: 30px;
}
.adm{
	text-align: center;
    justify-content: center;
}