* {
	box-sizing: border-box;
	font-family: 'Scada', sans-serif;
}

a {
	text-decoration: none;
	color: #f5b616;
	font-size: 1.03em;
}

body {
	padding: 0;
	margin: 0;
}

header {
	background-color: white;
	width: 100%;
	height: 120px;
}

footer {
	background-color: #002a32;
	color: white;
	width: 100%;
	font-size: 1.03em;
}

.footer, .usuario-class, .logo-class, .login-class, .col-10, .botao, .botao1, .index, .sections, .partida_finalizadas, .mais_apostados{
	float: left;
}

.footer, .col-10, .botao, .index {
	clear: left;
}

.col-10 {
	background-color: #c2d4e2;
	width: 100%;
	color: black;
}

.col-10 ::placeholder{
	font-style: italic;
	font-size: 15px;
}	

.usuario-class{
	display: flex;
	justify-content: center;
	width: 10%;
}

.usuario-class img{
	height: 120px;
}

.logo-class{
	padding-left: 15%;;
	display: flex;
	justify-content: center;
	width: 65%;
}

.sair-class {
	padding-right: 0;
}

.logo-class img{
	height: 110px;
}

.login-class{
	width: 25%;
}

.login-class p{
	padding-top: 7px;
}

.login-class img{
	padding-top: 15px;
	padding-right: 15px;
	float: right;
	height: 100px;
}

.login-class img:hover{
	transform: scale(1.2);
}

#logado {
	color: green;
}

#saldo {
	color: blue;
}

#logar {
	color: red;
}

.form-item {
	text-align: center;
}

.form-item input {
	text-align: center;
}

.msg-erro {
	font-family: 'Scada', sans-serif;
	color: red;
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 20px;
}

.label-alinhado {
	display: block;
	text-align: center;
}

input, option, select {
	text-align-last: center;
	border: 2px solid #002a32;
	padding: 3px;
	color: black;
	height: 35px;
	width: 320px;
	font-family: 'Scada', sans-serif;
}

input[type="submit"], input[type="reset"] {
	background-color: #002a32;
	color: white;
	padding: 3px 20px;
	border: 3px solid white;
	height: 35px;
	width: 150px;
	font-family: 'Noto Sans', sans-serif;
}

input[type="submit"]:hover, input[type="reset"]:hover, #buscar:hover {
	font-weight: bold;
	border: 3px solid #002a32;
	background-color: white;
	color: #002a32;
	cursor: pointer;
}

.botao, .botao1 {
	width: 50%;
	display: flex;
	margin-bottom: 25px;
}

.botao1 {
	padding-left: 10px;
}

.menu_adm {
	background-color: #f0f3f0; 
	border-radius: 0px;  
	border: 5px solid #002a32;
	padding: 15px;
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
}

.item {
	border-bottom: 3px solid #222222;
	margin-right: 30px;
}

.item:hover {
	border-color: green;
}

footer, .adm, .index, .sections, .col-10, .menu_adm{
	display: flex;
	text-align: center;
	justify-content: center;
}

input[type="checkbox"]{
	width: initial;
	height: initial;
}

.sections {
	width: 60%;
}

.asides {
	width: 40%;
}

.partida_finalizadas, .mais_apostados {
	width: 50%;
}

.index, .menu_adm, #cad_aposta {
	padding: 20px;
	width: 100%;
	background-color: rgba(240, 246, 247, 0.842); 
	border-radius: 0px;  
	border: 5px solid #222222;
}
